:root {
    --body-color: linear-gradient(#FADCD9,#F79489);
    --sidebar-color: #F79489;
    --header-color : white;
    --main-color: #F9F1F0;;
}

* {
    font-family: "Ubuntu";
}

body {
    margin: 0;
    background-image: var(--body-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: min(200px,30%) 1fr;
    grid-template-columns: min(300px,35%) 1fr;
    border-radius: 20px;
    height: 90%;
    width: 90%;
    border: 1px solid black;
    overflow: hidden;
}

/*Header*/

.header {
    display: grid;
    grid-template: repeat(2,90px) / minmax(500px,70%) 1fr;
    grid-area: 1/2;
    column-gap: 10px;
    background-color: var(--header-color);
    align-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
    overflow: hidden;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 30px minmax(70px,70%);
    column-gap: 15px;
}

.searchimg {
    grid-area:1/1;
    height: 25px;
    margin-top: 2px;
}

.searchbar {
    grid-area: 1/2;
    height: 30px;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(232, 239, 241);
    padding-left: 10px;
}

/*Topright*/

.topright-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.bellicon {
    height: 30px;
}

.usericon-topright {
    height: 50px;
    border-radius: 40px;
}

.username-topright {
    flex: 0 0 auto;
    font-size: 25px;
    font-weight: bold;
}

/*Userbar*/

.userbar-container {
    display: grid;
    grid-template: 30px 1fr / 90px minmax(500px,700px);
    align-item: center;
}

.usericon-bar {
    grid-area: 1/1/3/1;
    height: 75px;
    border-radius: 50px;
}

.usermessage {
    font-size: 20px;
    grid-area: 1/2/1/2;
}

.username-bar {
    font-size: 30px;
}

/*Action bar*/

.actionbar-container {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

button {
    height: 35px;
    width: 130px;
    border-style: none;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}

/*Sidebar*/

.sidebar {
    grid-area: 1/1/3/1;
    background-color: var(--sidebar-color);
}

/*Main*/

.main-content {
    grid-area: 2/2;
    background-color: var(--main-color);
}


/*Pseudo-class*/

.searchbar:focus {
    outline-color: rgb(95, 146, 161);
}